---
import Hero from "../components/Hero.astro";
import WhatWeDo from "../components/WhatWeDo.astro";
import InnerLayout from "../layouts/InnerLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nettys">
  <div class="home-bg">
    <InnerLayout>
      <Hero />
      <img class="swoosh-img" src="/divider.png" alt="swoosh" />
      <WhatWeDo />
    </InnerLayout>
  </div>
</Layout>

<style>
  .swoosh-img {
    width: 100vw;
  }
</style>
