---
import Hero from "../components/Hero.astro";
import WhatWeDo from "../components/WhatWeDo.astro";
import InnerLayout from "../layouts/InnerLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nettys">
  <div class="home-bg">
    <InnerLayout>
      <Hero />
      <img
        src="/lvpDivider.png"
        class="swoosh-img"
        aria-label="swoosh-img"
      /></InnerLayout
    >
    <WhatWeDo />
  </div>
</Layout>

<style>
  .swoosh-img {
    width: 100%;
    height: 150px;
  }
</style>
