---
import customWebsite from "/custom-website.webm";
import webSiteMaintence from "/webSiteMaintence.webm";
import hosting from "/hosting.webm";
import seo from "/seo.webm";
---

<div class="hero-container">
  <div class="copy">
    <h1 class="title">Give your buisness a digital footprint.</h1>
    <h4 class="description">
      At Netty's, we create bespoke websites that shine. From <span
        class="key-word">custom design</span
      > and <span class="key-word">reliable hosting</span> to <span
        class="key-word">expert maintenance</span
      >
      and <span class="key-word">SEO optimization</span>, we handle it all so
      you can focus on what you do best. Elevate your digital presence with a
      partner who understands your needs. Let&apos;s build something
      extraordinary.
    </h4>
    <button class="cta-btn">Get Started</button>
  </div>
  <div class="video-container">
    <video autoplay loop muted playsinline>
      <source src={customWebsite} type="video/webm" />
    </video>
    <video autoplay loop muted playsinline>
      <source src={hosting} type="video/webm" />
    </video>
    <video autoplay loop muted playsinline>
      <source src={seo} type="video/webm" />
    </video>
    <video autoplay loop muted playsinline>
      <source src={webSiteMaintence} type="video/webm" />
    </video>
  </div>
</div>

<style>
  .hero-container {
    margin: 0 auto;
    @media (min-width: 992px) {
      max-width: 992px;
    }
  }
  .copy {
    padding: 15px;
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
    align-items: center;
  }
  .copy button {
    width: 200px;
  }
  h1 {
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
  }
  h4 {
    font-weight: 200;
  }
  h4 > .key-word {
    color: var(--green);
    font-weight: bold;
  }
  .hero-image {
    width: 100%;
    height: 100%;
    border: none;
    @media (min-width: 992px) {
      max-width: 992px;
    }
  }

  .video-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
  }
  video {
    border-radius: 20px;
    width: 47%;
    background: rgb(215, 215, 215);
    height: 165px;
    source {
      background: transparent;
    }
  }
</style>
