---
import { Image } from "astro:assets";
import heroImage from "../../public/hero-image.jpg";
---

<div class="hero-container">
  <div class="copy">
    <h1>Give your buisness a digital footprint.</h1>
    <h4>
      At Netty's, we create bespoke websites that shine. From <span
        class="key-word">custom design</span
      > and <span class="key-word">reliable hosting</span> to <span
        class="key-word">expert maintenance</span
      >
      and <span class="key-word">SEO optimization</span>, we handle it all so
      you can focus on what you do best. Elevate your digital presence with a
      partner who understands your needs. Let’s build something extraordinary.
    </h4>
    <button class="cta-btn">Get Started</button>
  </div>

  <Image class="hero-image" src={heroImage} alt="hero-image" loading="lazy" />
</div>

<style>
  .hero-container {
    margin: 0 auto;
    @media (min-width: 992px) {
      max-width: 992px;
    }
  }
  .copy {
    padding: 15px;
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
    align-items: center;

    button {
      width: 200px;
    }
  }
  h1,
  h4 {
    .key-word {
      color: var(--green);
      font-weight: bold;
    }
  }
  h1 {
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
  }
  h4 {
    font-weight: 200;
  }
  .hero-image {
    width: 100%;
    height: 100%;
    @media (min-width: 992px) {
      max-width: 992px;
    }
  }
</style>
