---
import { Image } from "astro:assets";
import logo from "../../public/logo.svg";
import NavItems from "../components/NavItems.astro";
import Hamburger from "./Hamburger.astro";
---

<div>
  <nav class="container">
    <a class="logo" href="/">
      <Image alt="nettys-logo" src={logo} loading="eager" />
    </a>

    <!-- LVP - MVP Viewport -->
    <div class="hide-on-mobile">
      <NavItems />
    </div>
    <button class="cta-btn hide-on-mobile">Free Quote</button>
    <!-- ----- -->

    <!-- SVP Viewport -->
    <Hamburger />
    <!-- ---- -->
  </nav>
</div>

<style>
  .container {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    height: 80px;
    max-width: 100vw;
    background: transparent;
    backdrop-filter: blur(8px);
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    @media (min-width: 768px) {
      height: 100px;
      padding: 0;
    }
  }
  .logo {
    img {
      width: 120px;
      height: 90px;
      @media (min-width: 768px) {
        width: 157px;
        height: 106px;
      }
    }
    @media (min-width: 768px) {
      margin-right: auto;
      margin-left: 100px;
    }
  }

  .cta-btn {
    margin-left: auto;
    margin-right: 100px;
  }
</style>
