---

---

<div class="what-we-do-container">
  <div>WHAT WE DO</div>
</div>

<style>
  .what-we-do-container {
    height: 300px;
    background-color: #99c7e1;
    position: relative;
    top: -4px;
  }
</style>
