---
import NavBar from "../components/NavBar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <NavBar />

    <slot />
  </body>

  <style is:global>
    /* Small devices (tablets, 768px and up) */
    /* @media (min-width: 768px) { ... } */

    /* Medium devices (desktops, 992px and up) */
    /* @media (min-width: 992px) { ... } */

    /* Large devices (large desktops, 1200px and up) */
    /* @media (min-width: 1200px) { ... } */

    :root {
      /* ToDo Once color pallette is decided rename to "Primary" "Secondary" "Accent" */
      --white: white;
      --black: black;
      --grey: #484747;
      --blue: rgb(67, 152, 255);
      --green: #3d644f;
    }
    html {
      font-family: system-ui, sans-serif;
      background: rgb(245, 239, 239);
      background-size: 224px;
      color: var(--grey);
    }
    body {
      margin: 0;

      @media (min-width: 992px) {
        max-width: 1440px;
      }
    }

    .hide-on-mobile {
      @media (max-width: 992px) {
        display: none !important;
      }
    }

    .cta-btn {
      background-color: var(--green);
      color: var(--white);
      padding: 10px;
      font-weight: bold;
      border-radius: 10px;
      border-width: 1px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
